/* Google Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #F7F7F7, #ECE6EA);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 450px;
    background: #ffffff;
    padding: 40px;
    border-top: 5px solid #714B67;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.login-card h1 {
    color: #714B67;
    text-align: center;
    margin-bottom: 10px;
}

.login-card p {
    color: #666;
    text-align: center;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

input {
    padding: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: .3s;
}

input:focus {
    border-color: #714B67;
}

.password-box {

    position: relative;

}

.password-box input {

    width: 100%;
    padding-right: 55px;

}

#togglePassword {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #666;
    padding: 0;
    margin: 0;
    outline: none;
}

#togglePassword:hover {
    color: #714B67;
    transform: translateY(-50%) scale(1.1);
}


button {
    padding: 14px;
    background: #714B67;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
}

button:hover {
    background: #5A3D53;
}

span {
    display: block;
    text-align: center;
    margin-top: 25px;
    color: #555;
}

span a {
    text-decoration: none;
    color: #714B67;
    font-weight: 600;
}

span a:hover {
    text-decoration: underline;
}

.login-card {
    padding: 30px 40px;
}

.login-card h1 {
    margin-bottom: 5px;
}

.login-card p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: 600;
}

input,
select {
    height: 45px;
    padding: 0 16px;
    font-size: 16px;
}

button[type="submit"] {
    margin-top: 20px;
    height: 48px;
}

.login-card span {
    display: block;
    margin-top: 18px;
    text-align: center;
}

.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding-right: 50px;
}

.password-box button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #714b67;
    font-size: 18px;
}

.password-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100;
}

/* ================= DASHBOARD ================= */

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background: #714B67;
    color: white;
    padding: 30px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar {
    width: 220px;
    min-width: 220px;
    background: #714B67;
    color: white;
    padding: 30px 20px;
}

.sidebar a:hover {
    opacity: .8;
}

.content {
    flex: 1;
    padding: 35px;
    background: #f7f7f7;
    overflow: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}


.card {
    background: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    text-align: center;
}

.card h3 {
    color: #666;
    margin-bottom: 15px;
}

.card h2 {
    color: #714B67;
    font-size: 36px;
    max-width: 600px;
}

#welcomeText {
    margin-bottom: 30px;
    font-size: 34px;
    color: #333;
}

/* EMPLOYEES */

#employeeForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 30px 0;
}

#employeeForm input,
#employeeForm select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#employeeForm button {
    background: #714B67;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

#searchEmployee{
    width:100%;
    padding:12px 15px;
    margin:20px 0;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

#employeeTable {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

#employeeTable th,
#employeeTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#employeeTable th {
    background: #714B67;
    color: white;
}

/* ATTENDANCE */

#attendanceForm {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 15px;
    margin: 30px 0;
}

#attendanceForm select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

#attendanceForm button {
    background: #714B67;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
}

#attendanceTable {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

#attendanceTable th,
#attendanceTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#attendanceTable th {
    background: #714B67;
    color: white;
}

/* LEAVE */

#leaveForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 30px 0;
}

#leaveForm input,
#leaveForm select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#leaveForm button {
    background: #714B67;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

#leaveTable {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

#leaveTable th,
#leaveTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#leaveTable th {
    background: #714B67;
    color: white;
}


/* PAYROLL */

#payrollForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 30px 0;
}

#payrollForm input,
#payrollForm select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#payrollForm button {
    background: #714B67;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

#payrollTable {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

#payrollTable th,
#payrollTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#payrollTable th {
    background: #714B67;
    color: white;
}